{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-900 py-12 px-4 sm:px-6 lg:px-8 relative">
  <!-- Text Above the Form -->
  <div class="absolute top-24 text-center">
    <p class="text-4xl font-bold text-gray-300">
      Click and Cart by Faizi Ismady
    </p>
  </div>

  <!-- Login Form -->
  <div class="max-w-md w-full space-y-8 bg-gray-800 p-6 rounded-lg shadow-lg mt-12">
    <div>
      <h2 class="text-center text-3xl font-extrabold text-gray-100 mb-4">
        Welcome Back!
      </h2>
      <p class="text-center text-gray-400 mb-6">
        Please login to your account
      </p>
    </div>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm space-y-4">
        <div>
          <label for="username" class="block text-gray-400">Username</label>
          <input id="username" name="username" type="text" required 
                 class="appearance-none block w-full px-3 py-2 border border-gray-600 
                        placeholder-gray-500 text-gray-300 bg-gray-700 rounded-md 
                        focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                 placeholder="Enter your username">
        </div>
        <div>
          <label for="password" class="block text-gray-400">Password</label>
          <input id="password" name="password" type="password" required 
                 class="appearance-none block w-full px-3 py-2 border border-gray-600 
                        placeholder-gray-500 text-gray-300 bg-gray-700 rounded-md 
                        focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                 placeholder="Enter your password">
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" 
                class="group w-full py-2 px-4 border border-transparent text-sm font-medium 
                       rounded-md text-white bg-indigo-600 hover:bg-indigo-500 
                       focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 
                       transition-transform transform hover:scale-105 duration-300">
          Sign in
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% else %}
            <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-gray-100">
        Don't have an account yet?
        <a href="{% url 'main:register' %}" class="font-medium text-indigo-400 hover:text-indigo-300 transition">
          Register Now
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
