{% extends 'base.html' %}
{% block content %}
<h1>Click and Cart</h1>
<h3>oleh Muhammad Faizi Ismady Supardjo, kelas PBP C, NPM 2306244955</h3>

<h5>Name:</h5>
<p>{{ name }}</p>
<h5>Price:</h5>
<p>{{ price }}</p>
<h5>Quantity:</h5>
<p>{{ quantity }}</p>
<h5>Description:</h5>
<p>{{ description }}</p>

<h5>Input Produk:</h5>
{% if not product_entries %}
  <p>Belum ada data product pada Click and Cart.</p>
{% else %}
  <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
      <tr>
        <th style="border: 1px solid #ddd; padding: 8px;">Product Name</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Price</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Quantity</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for product_entry in product_entries %}
      <tr>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ product_entry.name }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ product_entry.price }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ product_entry.quantity }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ product_entry.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>
{% endblock content %}
